
.stories{
    margin-top: 15px;
    background-color: #F5DE8B;
    padding: 25px 5px 10px 10px;
    z-index: 1500;
}

.story{
  margin-bottom: 30px;
}

.story .story-title{
  font-size: 18px;
  color: #402817;
  font-weight: bold;
  
}

.story .story-desc{
  font-style: italic;
}


.story-comments{
  margin-top: 30px;
  border: 1px solid green;
  padding: 25px;
}

.comment-user{
  font-style: italic;
  padding-right: 5px;
}

ul.nav{
  float: right;
}


ul.nav li{
  display: inline;
  padding: 5px;
}

ul.nav li a{
    color: white;
}
